<repeat group="{{ @messages }}" value="{{ @item }}">
	<div class="post-preview">
		<a href="{{@BASE}}/{{ @item.url }}">
			<h2 class="post-title">
				{{ @item.title }}
			</h2>
			<h3 class="post-subtitle">
				{{ @item.desc }}
			</h3>
		</a>
		<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
	</div>
	<hr>
</repeat>
<div class="row">
	<nav aria-label="...">
		<ul class="pager">
			<check if="{{@pagination.next > 1}}">
			<li>
				<check if="{{@pagination.previous == 0}}">
					<true><a href="{{@BASE}}">Previous</a></true>
					<false><a href="{{@BASE}}/page/{{@pagination.previous}}">Previous</a></false>
				</check>
			</li>
			</check>
			<li><a href="{{@BASE}}/page/{{@pagination.next}}">Next</a></li>
		</ul>
	</nav>
</div>
