<div class="row">
	<h2>{{@boardInfo->title}}</h2>
	<div class="col-md-11 col-md-offset-1">
		<repeat group="{{ @entries }}" value="{{ @item }}">
			<div class="list-group">
				<div class="media panel-body">
					<div class="media-left media-middle">
						<a href="#">
							<img src="{{@item.avatar}}" class="media-avatar">
						</a>
					</div>
					<div class="media-body">
						<h2 class="media-heading">
							<a href="{{@BASE}}/{{@item.url}}">{{ @item.title }}</a> <span class="board_date" data-toggle="tooltip" data-placement="top" title="{{@item.date}}">{{@txt.postedby}} {{@item.userName}}</span>
						</h2>
					<h4>
						{{@txt.lastmessage}} <img src="{{@item.last_avatar}}" class="mini-avatar img-circle"><a href="{{@BASE}}/{{@item.last_url}}">{{ @item.last_title }}</a>
						<small class="meta date"><i class="glyphicon glyphicon-calendar"></i> {{@item.last_date}}</small>
					</h4>
					</div>
				</div>
			</div>
			<hr>
		</repeat>
	</div>
</div>
