<h2 id="resetTags">
	{{@txt.boards}}
</h2>
<div class="col-md-12">

</div>
<br>
<div class="list-group topicList col-md-12">
<repeat group="{{ @boardList }}" value="{{ @item }}">
	<div class="media">
		<div class="media-left">
			<a href="{{@BASE}}/board/{{@item.url}}">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x boardIcon-{{@item.boardID}}"></i>
					<i class="fa fa-{{@item.icon}} fa-stack-1x fa-inverse"></i>
				</span>
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading col-md-6">
				<a href="{{@BASE}}/board/{{@item.url}}" class="boardLink-{{@item.boardID}}">{{ @item.title }}</a>
				<div>{{@item.description}}</div>
			</h4>
			<div class="col-md-2 small">{{@txt.posts }} {{@item.totalPosts}}
			{{@txt.topics}} {{@item.totalTopics}}</div>
			<div class="col-md-4 small">
				{{@txt.lastmessage}}
				<img src="{{@item.avatar}}" class="mini-avatar img-circle">
				<a href="{{@BASE}}/{{@item.msgUrl}}">{{ @item.msgTitle }}</a>
				<i class="fa fa-calendar fa-1" aria-hidden="true"></i> {{@item.msgDate}}
			</div>
		</div>
		<hr>
	</div>
</repeat>
</div>
