<div class="row">
	<h2>{{@boardInfo->title}}</h2>
	<div class="col-md-11 col-md-offset-1">
		<repeat group="{{ @entries }}" value="{{ @item }}">
			<div class="list-group">
				<div class="media panel-body">
					<div class="media-left media-middle">
						<a href="#">
							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-avatar">
						</a>
					</div>
					<div class="media-body">
						<h2 class="media-heading">
							<a href="{{@BASE}}/{{@item.url}}">{{ @item.title }}</a>
						</h2>
					<h4>
						Last message: <a href="{{@BASE}}/{{@item.last_url}}">{{ @item.last_title }}</a>
						<small class="meta date"><i class="glyphicon glyphicon-calendar"></i> {{ '{0,date}', @item.last_msgTime | format }}</small>
					</h4>
					</div>
				</div>
			</div>
		</repeat>
	</div>
</div>
