<include href="header.html" />
		<div class="container">
			<div class="row">
				<include href="sidebar.html" />
				<div class="col-md-6 col-md-offset-1">
					<div class="row lead">
						{{ @entry.body | raw }}
					</div>
					<div class="row">
						<hr>
						<repeat group="{{ @comments }}" value="{{ @item }}">
						<h2><a href="{{@BASE}}/{{ @item.url }}">{{ @item.title }}</a>
							<small class="meta date"><i class="glyphicon glyphicon-calendar"></i> {{ '{0,date}', @item.msgTime | format }}</small>
						</h2>

					</repeat>
					</div>
				</div>
			</div>
		</div>
<include href="footer.html" />