<include href="header.html" />
		<div class="container">
			<div class="row">
				<include href="sidebar.html" />
				<div class="col-md-6 col-md-offset-1">
					<div class="row lead">
						{{ @entry.body | raw }}
					</div>
					<div class="row">
						<hr>
						<repeat group="{{ @comments }}" value="{{ @item }}">
						<h2><a href="{{@BASE}}/{{ @item.url }}">{{ @item.title }}</a>
							<small class="meta date"><i class="glyphicon glyphicon-calendar"></i> {{ '{0,date}', @item.msgTime | format }}</small>
						</h2>
{{ @item.body | raw }}
					</repeat>
					</div>
					<div class="row">
						<nav aria-label="Page navigation">
							<ul class="pagination">
								<check if="{{ @pag.count < @pag.pos }}">
								<li>
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								</check>
								<loop from="{{ @i=1 }}" to="{{ @i <= @pag.count }}" step="{{ @i++ }}">
								<li><a href="{{@BASE}}/{{@entryInfo.url}}/page/{{@i}}">{{ @i }}</a></li>
								</loop>
								<check if="{{ @pag.count > @pag.pos }}">
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
								</check>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
<include href="footer.html" />