<include href="header.html" />
	<div class="container">
		<h3 class="center-block">
			{{ urldecode(@ERROR.text) }}<br>
		</h3>
		<p>{{@txt.text404}}</p>
		<div class="">
			<check if="{{ !empty(@similarTopics) }}">
				<true>
					<h4>{{@txt.similar404}}</h4>
					<ul class="list-group latestMessages">
					<repeat group="{{ @similarTopics }}" value="{{ @item }}">
						<li class="list-group-item"><a href="{{@BASE}}/{{@item->url}}">{{@item->title}}</a></li>
					</repeat>
					</ul>
				</true>
				<false>
					<img src="{{@BASE}}/imgerror" alt="error" title="error" class="img-responsive img-rounded center-block" />
				</false>
			</check>
		</div>
	</div>
	<include href="extra.html" />
<include href="footer.html" />
