<div class="col-md-6 col-sm-10 extraInfo">
	<h4>{{@txt.lastestmessages}}</h4>
	<ul class="list-group latestMessages">
	<repeat group="{{ @latestMessages }}" value="{{ @item }}">
		<li class="list-group-item"><a href="{{@BASE}}/{{@item.last_url}}">{{@item.title}}</a></li>
	</repeat>
	</ul>
</div>
<div class="col-md-6 col-sm-10 extraInfo">
	<h4>{{@txt.boards}}</h4>
	<ul class="list-group latestMessages">
	<repeat group="{{ @boards }}" value="{{ @item }}">
		<li class="list-group-item"><a href="{{@BASE}}/board/{{@item.url}}">{{@item.title}}</a></li>
	</repeat>
	</ul>
</div>
