<div class="col-md-6 col-sm-10 extraInfo">
	<h4>{{@txt.lastestmessages}}</h4>
	<ul class="list-group latestMessages">
	<repeat group="{{ @latestMessages }}" value="{{ @item }}">
		<li class="list-group-item"><a href="{{@BASE}}/{{@item.url}}">{{@item.title}}</a>
			<check if="{{ @item.lmsgID > @currentUser->lmsgID }}">
				<span class="label label-success">{{@txt.new}}</span>
			</check>
		</li>
	</repeat>
	</ul>
</div>
<div class="col-md-6 col-sm-10 extraInfo">
	<h4>{{@txt.boards}}</h4>
	<ul class="list-group latestMessages">
	<repeat group="{{ @boards }}" value="{{ @item }}">
		<li class="list-group-item">
			<a href="{{@BASE}}/board/{{@item.url}}">{{@item.title}}</a>
		</li>
	</repeat>

	<!-- Honeypot -->
		<li class="list-group-item" style="display: none" aria-hidden="true"><a href="{{@BASE}}/onepieceraw">one piece raw</a></li>
	</ul>
</div>
