		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<ul class="list-inline text-center">
							<check if="{{ !@currentUser->isBot }}">
								<li>
									<a href="{{@BASE}}/about">
										<span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x"></i>
											<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</li>
							</check>
							<li>
								<a href="https://twitter.com/missallsuki">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li>
								<a href="https://github.com/MissAllSunday">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-github fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="copyright text-muted">
								Copyright &copy; Jessica González {{date('Y')}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<script>
		window.selectHive = [];
		</script>
		<script async src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script async src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script async src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
		<check if="{{ @site.customJS }}">
			<repeat group="{{ @site.customJS }}" value="{{ @item }}">
		<script async type="text/javascript" src="{{@BASE}}/{{@UI}}js/{{ @item }}"></script>
			</repeat>
		</check>
		<check if="{{ @site.customExternalJS }}">
			<repeat group="{{ @site.customExternalJS }}" value="{{ @item }}">
		<script async type="text/javascript" src="{{ @item }}"></script>
			</repeat>
		</check>
		<script async type="text/javascript" src="{{@BASE}}/minify/js?files=index.js,ohvideos.min.js,select.js"></script>
		<include href="analytics.html" />
	</body>
</html>
