		<footer class="footer">
			<div class="container">
				<p class="text-muted">
					footer!
				</p>
			</div>
		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
		<script type="text/javascript" src="{{@BASE}}/minify/js?files=index.js,ohvideos.min.js"></script>
	</body>
</html>