<form>
	<div class="form-group">
	<label for="formGroupExampleInput">{{@txt.goodies_search}}</label>
	<input type="text" class="form-control" id="goodiesSearch" placeholder="">
	</div>
	<button type="submit" class="btn btn-primary">{{@txt.post_submit}}</button>
</form>
<p>
	<check if="{{ @repo.info }}">
	<h2>
		<a href="{{@repo.info.html_url}}">
			{{@repo.info.name}}
		</a>
		<small>{{@repo.info.full_name}}
		<check if="{{ @repo.info.fork }}">
			<span class="label label-primary">{{@txt.goodies_fork}}</span>
		</check>
		</small>
	</h2>
	<p>
	<repeat group="{{ @repo.languages }}" value="{{ @lines }}" key="{{@tag}}">
		<span class="label label-default lang-{{@tag}}" data-toggle="tooltip" data-placement="bottom" title="{{@lines}} {{@txt.goodies_lines}}">{{@tag}}</span>
	</repeat>
	</p>
	</check>
</p>
