<div class="row">
	<div class="col-6 col-md-4">
		<include href="goodiesSide.html" />
	</div>
	<div class="col col-md-8">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#desc" aria-controls="desc" role="tab" data-toggle="tab">{{@txt.goodies_desc}}</a></li>
			<li role="presentation"><a href="#releases" aria-controls="releases" role="tab" data-toggle="tab">{{@txt.goodies_releases}}</a></li>
			<li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">{{@txt.goodies_info}}</a></li>
			<li role="presentation"><a href="#commits" aria-controls="commits" role="tab" data-toggle="tab">{{@txt.goodies_commits}}</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="desc">
				{{@repo.desc | raw}}
			</div>
			<div role="tabpanel" class="tab-pane" id="releases">
				<check if="{{ !empty(@repo.releases) }}">
					<true>
						<div class="row">
							<p></p>
						<repeat group="{{ @repo.releases }}" value="{{ @item }}">
							<div class="col-sm-8 col-md-12">
								<div class="well">
									<h3 class="text-muted">
										<a href="{{@item.html_url}}">{{@item.name}}</a>
										<small>{{@txt.goodies_created}} {{@Tools->getDate(strtotime(@item.created_at))}}</small>
									</h3>
									<check if="{{ @item.prerelease }}">
										<p><span class="label label-danger">{{@txt.goodies_prerelease}}</span></p>
									</check>
									<p>{{@item.body | raw}}</p>
									<hr>
									<h3>{{@txt.goodies_downloads}}</h3>
									<p>
										<repeat group="{{ @item.assets }}" value="{{ @a }}">
											<a class="btn btn-default" href="{{@a.browser_download_url}}" data-toggle="tooltip" data-placement="bottom" title="{{@a.download_count}} {{@txt.goodies_downloads}}">{{@a.name}}<br><small>{{@Tools->formatBytes(@a.size, true)}}</small></a>
										</repeat>
									</p>
								</div>
							</div>
						</repeat>
					</div>
					</true>
					<false>
						<p>{{@txt.goodies_no_releases}}</p>
					</false>
				</check>
			</div>
			<div role="tabpanel" class="tab-pane" id="info">
				<ul class="list-group  latestMessages">
					<li class="list-group-item">{{@txt.goodies_created}} {{@Tools->getDate(strtotime(@repo.info.created_at))}}</li>
					<li class="list-group-item">{{@txt.goodies_last_update}} {{@Tools->getDate(strtotime(@repo.info.updated_at))}}</li>
					<li class="list-group-item">
						<span class="label label-danger">{{@txt.goodies_issues}} {{@repo.info.open_issues}}</span>
						<span class="label label-success">{{@txt.goodies_watchers}} {{@repo.info.stargazers_count}}</span>
						<span class="label label-info">{{@txt.goodies_forks}} {{@repo.info.forks_count}}</span>
					</li>
				</ul>
				<h4>{{@txt.goodies_contributors}}</h4>
				<ul class="list-group  latestMessages">
				<repeat group="{{ @repo.contributors }}" value="{{ @user }}">
					<li class="list-group-item">
						<img src="{{@user.avatar_url}}" class="mini-avatar img-circle">
						<a href="{{@user.html_url}}"> {{@user.login}}</a> {{@user.contributions}} <span class="badge">{{@txt.goodies_contributions}}</span>
					</li>
				</repeat>
				</ul>
			</div>
			<div role="tabpanel" class="tab-pane" id="commits">
				<p></p>
				<repeat group="{{ @repo.commits }}" value="{{ @item }}">
					<div class="media">
						<div class="media-body">
							<h4 class="media-heading">
								<a href="{{@item.html_url}}">{{ @item.commit.message }}</a>
							</h4>
							<div class="col-md-4 small topicDate">{{@Tools->getDate(strtotime(@item.commit.committer.date))}}</div>
							<div class="col-md-8 small topicLast">
								<img src="{{@item.committer.avatar_url}}" class="mini-avatar img-circle">
								<a href="{{@item.committer.html_url}}"> {{@item.committer.login}} </a>
							</div>
						</div>
						<hr>
					</div>
				</repeat>
			</div>
		</div>
	</div>
</div>
