<!DOCTYPE html>
<html lang="en-US">
	<head itemscope itemtype="https://schema.org/WebSite">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<check if="{{ @site.keywords }}">
		<meta name="keywords" content="{{ @site.keywords }}">
		</check>
		<check if="{{ @site.description }}">
		<meta name="description" content="{{ @site.description }}">
		</check>
		<check if="{{ @site.metaTitle }}">
		<title>{{ @site.metaTitle }}</title>
		</check>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{@BASE}}/minify/css?files=style.css" />
		</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{{@BASE}}">{{@site.title}}</a>
				</div>
				<div class="collapse navbar-collapse" id="site-navbar-collapse-1">
					<check if="{{ @currentUser.userID }}">
						<true>
							<p class="navbar-text navbar-left">{{ @txt.greet, @currentUser.name | format}}</p>
							<a href="{{@BASE}}/logout"><button type="button" class="btn btn-default navbar-btn navbar-right">{{ @txt.logout }}</button></a>
						</true>
						<false>
							<a href="{{@BASE}}/login"><button type="button" class="btn btn-default navbar-btn navbar-right">{{@txt.signin}}</button></a>
						</false>
					</check>
				</div>
			</div>
		</nav>