<include href="header.html" />
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="site-main">
				<include href="ads.html" />
				<!-- Generic alert message.  -->
				<repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
					<div class="alert alert-{{ @msg.status }} alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<check if="{{ is_array(@msg.text) }}">
						<true>
							<p>😱 {{@txt.error_msg}}</p>
							<ul class="list-unstyled">
								<repeat group="@msg.text" value="{{ @item }}">
								<li>- {{ @txt["error_". @item] | raw }}</li>
							</repeat>
							</ul>
						</true>
						<false>
							{{ @msg.text | esc }}
						</false>
						</check>
					</div>
				</repeat>

				<!-- Breadcrumb is a funny word. -->
				<check if="{{ @site.breadcrumb }}">
				<set breadCount="{{ 0 }}" />
				<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
					<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a href="{{@BASE}}/" itemprop="item">
							<span itemprop="name">{{@site.home}}</span>
						</a>
						<meta itemprop="position" content="{{++@breadCount}}" />
					</li>
						<repeat group="{{ @site.breadcrumb }}" value="{{ @item }}">
							<li {{ @item.active ? 'class="active"' : '' }} itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<check if="{{ @item.url }}">
								<true>
									<a href="{{@BASE}}/{{@item.url}}" itemprop="item">
										<span itemprop="name">{{@item.title}}</span>
									</a>
									<meta itemprop="position" content="{{++@breadCount}}" />
								</true>
								<false>
									<span itemprop="item name">{{@item.title}}</span>
									<meta itemprop="position" content="{{++@breadCount}}" />
								</false>
							</check>
							</li>
						</repeat>
				</ol>
				</check>
				<include href="{{ @content }}" />
				<include href="ads.html" />
			</div>
		</div>
		<include href="extra.html" />
	</div>
</div>
<include href="footer.html" />
