<include href="header.html" />
<div class="container">
	<div class="row">
		<div class="col-md-3">
		<include href="sidebar.html" />
		</div>

		<div class="col-md-9">
			<!-- Breadcrumb is a funny word. -->
			<check if="{{ @site.breadcrumb }}">
			<ol class="breadcrumb">
				<li><a href="{{@BASE}}">{{@site.title}} </a></li>
					<repeat group="{{ @site.breadcrumb }}" value="{{ @item }}">
						<li {{ @item.active ? 'class="active"' : '' }}>
						<check if="{{ @item.url }}">
							<true>
								<a href="{{@BASE}}/{{@item.url}}">{{@item.title}}</a>
							</true>
							<false>
								{{@item.title}}
							</false>
						</check>
						</li>
					</repeat>
			</ol>
			</check>
			<include href="{{ @content }}" />
		</div>
	</div>
</div>
<include href="footer.html" />