<check if="{{ @loginErrors }}">
	<div class="row">
		<div class="alert alert-danger" role="alert">
			<p>{{@txt.error_msg}}</p>
			<ul class="list-unstyled">
				<repeat group="@loginErrors" value="{{ @item }}">
				<li>- {{ @txt["error_". @item] | raw }}</li>
			</repeat>
			</ul>
		</div>
	</div>
</check>
<div class="row">
	<form class="form-signin" method="POST" action="{{ @BASE }}/login">
		<div class="form-group">
			<label for="loginEmail">{{@txt.login_email}}</label>
			<input type="email" class="form-control site-login" id="loginEmail" placeholder="{{@txt.login_email}}" name="email">
		</div>
		<div class="form-group">
			<label for="loginPass">{{@txt.login_password}}</label>
			<input type="password" class="form-control site-login" name="password" id="loginPass" placeholder="{{@txt.login_email}}">
			<input type="hidden" name="token" value="{{ @SESSION.csrf }}"/>
		</div>
		<div class="form-group">
			<label for="loginCaptcha">{{@txt.login_captcha}}</label>
			<div class="panel panel-default site-login">
				<div class="panel-body">
					<img src="{{@BASE}}/captcha" />
				</div>
			</div>
			<input type="text" class="form-control site-login" name="captcha" id="loginCaptcha" placeholder="">
			<input type="hidden" name="token" value="{{ @SESSION.csrf }}"/>
		</div>
		<div class="checkbox">
			<label>
				<input type="hidden" name="remember" value="0" />
				<input type="checkbox" name="remember" value="1"> {{@txt.login_remember}}
			</label>
		</div>
		<button type="submit" class="btn btn-default">{{@txt.post_submit}}</button>
	</form>
	<p>{{@txt.signup_msg, "/signup" | format, raw}}</p>
</div>