<check if="{{ @loginErrors }}">
	<div class="row">
		<div class="alert alert-danger" role="alert">
			<p>{{@txt.error_msg}}</p>
			<ul class="list-unstyled">
				<repeat group="@loginErrors" value="{{ @item }}">
				<li>- {{ @txt["error_". @item] | raw }}</li>
			</repeat>
			</ul>
		</div>
	</div>
</check>
<div class="row">
	<form class="form-signin" method="POST" action="{{ @BASE }}/login">
		<div class="form-group">
			<label for="loginEmail">{{@txt.login_email}}</label>
			<input type="email" class="form-control site-login" id="loginEmail" placeholder="{{@txt.login_email}}" name="email">
		</div>
		<div class="form-group">
			<label for="loginPass">{{@txt.login_password}}</label>
			<input type="password" class="form-control site-login" name="password" id="loginPass" placeholder="{{@txt.login_email}}">
			<input type="hidden" name="token" value="{{ @SESSION.csrf }}"/>
		</div>
		<button type="submit" class="btn btn-default">{{@txt.post_submit}}</button>
	</form>
</div>