<form class="form-signin row" method="POST" action="{{ @BASE }}/login">
	<div class="form-group">
		<label for="loginEmail">{{@txt.login_userEmail}}</label>
		<input type="email" class="form-control site-login" id="loginEmail" placeholder="{{@txt.login_email}}" name="userEmail">
	</div>
	<div class="form-group">
		<label for="loginPass">{{@txt.login_passwd}}</label>
		<input type="password" class="form-control site-login" name="passwd" id="loginPass" placeholder="">
		<input type="hidden" name="token" value="{{ @SESSION.csrf }}"/>
	</div>
	<div class="checkbox">
		<label>
			<input type="hidden" name="remember" value="0" />
			<input type="checkbox" name="remember" value="1"> {{@txt.login_remember}}
		</label>
	</div>
	<button type="submit" class="btn btn-default">{{@txt.post_submit}}</button>
</form>
<p>{{@txt.signup_msg, "/signup" | format, raw}}</p>
