<form class="form-horizontal content" method="POST" action="{{ @BASE }}/post/{{!@posting.topicID ? 'topic' : 'msg'}}">
	<check if="{{ !@posting.topicID}}">
		<div class="form-group">
			<label for="postTags">{{@txt.post_tags}}</label>
			<input type="text" class="form-control" name="tags" id="postTags" placeholder="" value="{{ @posting.tags }}">
		</div>
	</check>
	<div class="form-group">
		<check if="{{ @quickReply }}">
			<true>
				<input type="hidden" name="title" value="{{ @posting.title }}"/>
			</true>
			<false>
				<label for="postTitle">{{@txt.post_title}}</label>
				<input type="text" class="form-control" name="title" id="postTitle" placeholder="" value="{{ @posting.title }}">
			</false>
		</check>
		<input type="hidden" name="boardID" value="{{ @posting.boardID }}"/>
		<input type="hidden" name="topicID" value="{{ @posting.topicID }}"/>
		<input type="hidden" name="token" value="{{ @SESSION.csrf }}"/>
	</div>
	<check if="{{ !@currentUser->userID }}">
		<div class="form-group">
			<label for="postUsername">{{@txt.login_userName}}</label>
			<input type="text" class="form-control" name="userName" id="postUsername" placeholder="" value="{{ @posting.userName }}">
			<label for="postEmail">{{@txt.login_userEmail}}</label>
			<input type="email" class="form-control" name="userEmail" id="postEmail" placeholder="" value="{{ @posting.email }}">
			<label for="loginCaptcha">{{@txt.login_captcha}}</label>
			<div class="panel panel-default site-login">
				<div class="panel-body">
					<img src="{{@BASE}}/captcha" />
				</div>
			</div>
			<input type="text" class="form-control site-login" name="captcha" id="loginCaptcha" placeholder="">
		</div>
	</check>
	<div class="form-group">
		<textarea name="body"  class="form-control" rows="6" id="summernote">{{ @posting.body }}</textarea>
		<check if="{{ @posting.msgID }}">
			<label for="postReason">{{@txt.post_reason}}</label>
			<input type="text" class="form-control" name="reason" id="postReason" placeholder="" value="{{ @posting.reason }}">
			<input type="hidden" name="msgID" value="{{ @posting.msgID }}"/>
		</check>
	</div>
	<button type="submit" class="btn btn-default">{{@txt.post_submit}}</button>
</form>
