<div class="row">
	<h3>
		Search
		<small>{{@txt.search_desc}}</small>
	</h3>
	<script>
	  (function() {
	    var cx = '014230621869110231478:uw3koc4onrw';
	    var gcse = document.createElement('script');
	    gcse.type = 'text/javascript';
	    gcse.async = true;
	    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
<div class="content">
<gcse:search></gcse:search>
</div>
</div>
