<main aria-label="Main content" itemscope itemtype="http://schema.org/Blog">
	<article itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">
		<link itemprop="mainEntityOfPage" href="{{@BASE}}/{{@entryInfo.url}}" />
			<h2 class="post-title" itemprop="name headline">
				<a href="{{@BASE}}/{{@entryInfo.url}}" rel="bookmark">{{@entryInfo.title}}</a>
			</h2>
		</a>
		<p class="post-meta">{{@txt.postedby}}
				<span itemprop="author" itemscope itemtype="http://schema.org/Person">
					<img src="{{@entryInfo.avatar}}" alt="{{@txt.view_profile, @entryInfo.userName | format}}" class="img-circle mini-avatar">
					<a rel="author" itemprop="url" href="#" title="{{@txt.view_profile, @entryInfo.userName | format}}">
						<span itemprop="name">{{@entryInfo.userName}}</span>
					</a>
				</span>
				{{@txt.on}} {{@entryInfo.date}}
				<meta itemprop="datePublished" content="{{@entryInfo.microDate}}" />
				<meta itemprop="dateModified" content="{{@entryInfo.microDate}}" />
		</p>
		<hr>
		<div  itemprop="articleBody">
			<div class="body" id="body{{@entryInfo.msgID}}">
				{{ @entryInfo.body | raw }}
			</body>
			{{@txt.microData.publisher,  @BASE, @entryInfo.userName | format,raw}}
			<check if="{{ @entryInfo.msgModified }}">
				<hr>
				<small>{{@txt.post_last_edited, @entryInfo.reasonBy, @entryInfo.reason, date("j M Y, g:i a", @entryInfo.msgModified) | format}}</small>
			</check>
		</div>
		<div class="row">
			<include href="buttons.html" />
		</div>
		<div class="row" id="comments">
			<repeat group="{{ @comments }}" value="{{ @item }}">
			<section class="comment">
				<article itemscope itemtype="http://schema.org/Comment">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img src="{{@item.avatar}}" alt="{{@txt.view_profile, @item.userName | format}}" class="img-circle media-object media-avatar">
							</a>
						</div>
						<div class="media-body">
							<h3 id="msg{{@item.msgID}}" class="media-heading">
								<a href="{{@BASE}}/{{@item.url}}">{{ @item.title }}</a>
							</h3>
							<h4 class="">
								{{@txt.postedby}} <a href="#">{{@item.userName}}</a> {{@txt.on}} {{@item.date}}
							</h4>
						</div>
					</div>
					<check if="{{@can.edit || @can.delete }}">
						<div class="content msgOptions pull-right dropdown">
							<button type="button" class="btn btn-default btn-xs hidden selectText" id="selectText{{@item.msgID}}">{{@txt.quote_select}}</button>
							<button id="options{{@item.msgID}}" type="button" class="btn btn-default btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i> <span class="caret"></span></button>
							<ul class="dropdown-menu" aria-labelledby="options{{@item.msgID}}">
								<check if="{{@can.edit}}">
									<li class="text-center">
										<a href="{{@BASE}}/edit/{{@entryInfo.boardID}}/{{@entryInfo.topicID}}/{{@item.msgID}}">{{@txt.modify}}</a>
									</li>
								</check>
								<check if="{{ @can.delete }}">
									<li class="text-center">
										<a class="you_sure" data-confirm="{{@txt.confirm}}" href="{{@BASE}}/delete/{{@entryInfo.boardID}}/{{@entryInfo.topicID}}/{{@item.msgID}}">
										{{@txt.delete}}
										</a>
									</li>
								</check>
							</ul>
						</div>
					</check>
					<hr>
					<meta itemprop="datePublished" content="{{@item.microDate}}" />
					<meta itemprop="dateModified" content="{{@item.microDate}}" />
					<div itemprop="text" class="body" id="body{{@item.msgID}}">
						{{ @item.body | raw }}
						<check if="{{ @item.msgModified }}">
							<hr>
							<small>{{@txt.post_last_edited, @item.reasonBy, @item.reason, date("j M Y, g:i a", @item.msgModified) | format}}</small>
						</check>
					</div>
				</article>
			</section>
			</repeat>
		</div>
		<check if="{{ @comments }}">
			<include href="buttons.html" />
		</check>
		<check if="{{@can.post }}">
			<div class="row quickReply">
				<div class="col-md-12 col-md-offset-0 col-xs-11">
					<include href="post.html" />
				</div>
				<div class="col-md-8 col-md-offset-0 col-xs-11">
					<p class="content box">
						<small>
							{{@txt.post_desc}}
							<check if="{{ !@currentUser->userID }}">
								 {{@txt.post_guest_desc}}
							</check>
						</small>
					</p>
				</div>
			</div>
		</check>
		<check if="{{@entryInfo.max_count >= @pag.limit }}">
		<div class="row">
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<loop from="{{ @i = 0 }}" to="{{ @i < @entryInfo.pages }}" step="{{ @i++ }}">
						<check if="{{ @i == 0}}">
							<true>
								<li id="pag_{{@i}}" class="first pag{{ (@i == @PARAMS.page ? ' active' : '') }}"><a href="{{@BASE}}/{{@entryInfo.url}}">{{@txt.home}}</a></li>
							</true>
							<false>
								<li id="pag_{{@i}}" class="pag{{ (@i == @PARAMS.page ? ' active' : '') }} {{ (@i == (@pag.count - 1) ? ' last' : '') }}"><a href="{{@BASE}}/{{@entryInfo.url}}/page/{{@i}}#comments">{{ (@i == @pag.pages ? @txt.last :  @i) }}</a></li>
							</false>
						</check>
					</loop>
				</ul>
			</nav>
		</div>
		</check>
	</article>
</main>
