<main aria-label="Main content" itemscope itemtype="http://schema.org/Blog">
	<article itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting" class="col-md-10 col-md-offset-1">
		<link itemprop="mainEntityOfPage" href="{{@BASE}}/{{@entryInfo.url}}" />
		<h1 itemprop="name headline">
			<a href="{{@BASE}}/{{@entryInfo.url}}">{{@entryInfo.title}}</a>
			<small class="meta date">
				<i class="glyphicon glyphicon-calendar"></i>
				<time datetime="{{ date('c', @entryInfo.msgTime) }}" itemprop="datePublished dateModified">{{ '{0,date,custom,%d/%m/%Y}', @entryInfo.msgTime | format }}</time>
			</small>
		</h1>
		<div class="row lead" itemprop="articleBody">
			{{ @entryInfo.body | raw }}
		</div>
		<span class="hidden" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
			<a rel="author" itemprop="url" href="{{@BASE}}">
				<span itemprop="name">{{@site.title}}</span>
			</a>
			<span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
			<meta itemprop="url" content="https://i.imgur.com/pmbxkUa.png">
			<meta itemprop="width" content="400"><meta itemprop="height" content="175">
			</span>
		</span>
		<span itemprop="author" itemscope itemtype="http://schema.org/Person">
			<a rel="author" itemprop="url" href="#" title="{{@txt.view_profile, @entryInfo.displayName | format}}">
				<span itemprop="name">{{@entryInfo.displayName}}</span>
			</a>
		</span>
		<repeat group="{{ @comments }}" value="{{ @item }}">
		<section class="row">
			<hr>
			<check if="{{ @item.msgID != @entryInfo.fmsgID }}">
			<article itemscope itemtype="http://schema.org/Comment">
				<h2 id="msg{{@item.msgID}}">{{ @item.title }}
					<small class="meta date">
						<i class="glyphicon glyphicon-calendar"></i>
						<time datetime="2015-01-26T16:55:03Z" itemprop="dateCreated">{{ '{0,date}', @item.msgTime | format }}</time>
					</small>
				</h2>
				</check>
				<div class="row" itemprop="text">
					{{ @item.body | raw }}
				</div>
			</article>
		</section>
		</repeat>
	</article>
	<div class="row">
		<check if="{{ @pag.total >= @pag.limit }}">
		<nav aria-label="Page navigation">
			<ul class="pagination">
				<loop from="{{ @i = 0 }}" to="{{ @i < @pag.count }}" step="{{ @i++ }}">
					<check if="{{ @i == 0 }}">
						<true>
							<li id="pag_{{@i}}" class="first pag{{ (@i == @pag.pos ? ' active' : '') }}"><a href="{{@BASE}}/{{@entryInfo.url}}">{{@txt.first}}</a></li>
						</true>
						<false>
							<li id="pag_{{@i}}" class="pag{{ (@i == @pag.pos ? ' active' : '') }} {{ (@i == (@pag.count - 1) ? ' last' : '') }}"><a href="{{@BASE}}/{{@entryInfo.url}}/page/{{@i}}">{{ (@i == (@pag.count - 1) ? @txt.last :  @i) }}</a></li>
						</false>
					</check>
				</loop>
			</ul>
		</nav>
		</check>
	</div>
</main>
